extends ../layouts/pages-layout
block content
main.main
    section.hero-section
        div.container-gta5
            img(src="../img/GTA_5.png" alt="")
            h1.hero-title 
            | GTA 5 RP
            p.hero-text 
            | GTA 5 RP — новый уровень онлайн-игр. Играй бандитом или полицейским, чиновником или медиком, мафией или сотрудником ФБР. Прочувствуй атмосферу удивительного мира ролевой игры с реалистичным миром на ГТА РП!
