extends ./layouts/pages-layout 
    main 
        section.hero-section
            div.container-gta5
                img(src="../img/GTA_5.png", alt="").img-gta5
                h1.hero-title GTA 5 RP
                p.hero-text 
                |GTA 5 RP — новый уровень онлайн-игр.
                br
                |Играй бандитом или полицейским, чиновником или медиком, мафией или сотрудником ФБР.
                br
                |Прочувствуй атмосферу удивительного мира ролевой игры с реалистичным миром на ГТА РП!
    